<?xml version="1.0" encoding="utf-8"?>
<setting>
  <HostIP>192.168.10.115</HostIP>
  <HostName>RimageSystem</HostName>
  <HostPort>4664</HostPort>
  <LocalShareFolder>C:\cd_share</LocalShareFolder>
  <CDLabelFile>\\ServerIP\Rimage\Labels\SMC_CD.btw</CDLabelFile>
  <DVDLabelFile>\\ServerIP\Rimage\Labels\SMC_CD.btw</DVDLabelFile>
  <DVD_DLLabelFile>\\ServerIP\Rimage\Labels\ajoumc DVD_DL.btw</DVD_DLLabelFile>
  <MergeFileFolder>\\ServerIP\Rimage\Merge\</MergeFileFolder>
  <MergeFileServerFolder>\\ServerIP\Rimage\Merge\</MergeFileServerFolder>
  <ServerNetworkDrive>\\10.209.79.211\cd_share\</ServerNetworkDrive>
  <DicomDownloadFolder>C:\cd_down</DicomDownloadFolder>
  <HospitalName>RimageKorea</HospitalName>
  <CDMaxSize>730000000</CDMaxSize>
  <LogFilePath>logfile.jpg</LogFilePath>
  <LabelPrint>N</LabelPrint>
  <MergePrint>YYNYNN</MergePrint>
  <LocalSourceFolder>D:\Rimage\CD-R_Images</LocalSourceFolder>
  <SourceFolder>CD-R_Images</SourceFolder>
  <programType>1</programType>
  <startProgram>3</startProgram>
  <CDPrintYN>Y</CDPrintYN>
  <MsgBoxShow>0</MsgBoxShow>
  <CDQty>10</CDQty>
  <RibbonQty>10</RibbonQty>
  <BinCheckTime>3</BinCheckTime>
  <RecorderCnt>2</RecorderCnt>
  <FolderPattern>0</FolderPattern>
  <AutoExecute>0</AutoExecute>
  <ReportView>Y</ReportView>
  <DelType>0</DelType>
  <AutoCloseType>N</AutoCloseType>
  <DeleteAfterBurn>1</DeleteAfterBurn>
  <DownloadCheckbyFileName>Y</DownloadCheckbyFileName>
  <DelFolderWhenClose>Y</DelFolderWhenClose>
  <RetentionPeriod>1</RetentionPeriod>
  <ServerType>R</ServerType>
  <AutoExecuteHookingType>0</AutoExecuteHookingType>
  <ProgramCaption></ProgramCaption>
  <BurnPatientKind>NORM</BurnPatientKind>
  <PopUpAlamYN>Y</PopUpAlamYN>
  <PopUpKeepTime>20</PopUpKeepTime>
  <PopUpSelPatInfoYN>Y</PopUpSelPatInfoYN>
  <HookSleepTime1>3000</HookSleepTime1>
  <HookSleepTime2>6000</HookSleepTime2>
  <ManualExeBtnView>N</ManualExeBtnView>
  <CloseConfirm>N</CloseConfirm>
  <SoundAlam>N</SoundAlam>
  <ExistDicomDir>Y</ExistDicomDir>
  <FileCopyYN>N</FileCopyYN>
  <ErrorPupupUse>Y</ErrorPupupUse>
  <AutoPrintApp>N</AutoPrintApp>
  <BottomImagePath>logo-purple.png</BottomImagePath>
  <DeleteInJobFolder>N</DeleteInJobFolder>
</setting>